{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <ul class="list-group">
    <li class="list-group-item list-group-item-light">
        <p>Pseudo : {{user.pseudo}}</p>
        <p>Mail : {{user.email}}</p>
    </li>
    </ul>

    <h1>Modifier ces informations</h1>
    {{form (form_edit)}}

    <h1>Liste de mes commentaires</h1>

    {% for commentaire in commentaires %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            <p>Commentaire : {{commentaire.texte}}</p>
            <p>Date de publication : {{commentaire.date|date('Y-m-d H:i:s')}}</p>
            <a href="{{ path('albumback_show', {'id': commentaire.album.id}) }}">Nom de l'article : {{commentaire.album.nom}}</a>
        </li>
    </ul>
    {% endfor %}
{% endblock %}
