{% extends 'back.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>
    {% if users is not empty %}
        <div class="row">
            {% for user in users %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.pseudo }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                        <p class="card-text">{{ user.roles|join(', ') }}</p>
                        <a href="{{ path('editRole', {'id': user.id}) }}">Changer de rôle</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h1>Liste des commentaires</h1>
    {% for commentaire in commentaires %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                <p>Utilisateur : {{commentaire.utilisateur.pseudo}}<p>
                <p>Date de publication : {{commentaire.date|date('d-m-Y H:i:s')}}<p>
                <p>Contenu : {{commentaire.texte}}<p>
                <p>Oeuvre : {{commentaire.album.nom}}<p>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
