{% extends 'back.html.twig' %}

{% block title %}Album Back{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle oeuvre</h1>
    {{form (form_ajout)}}

    <div class="row" style="margin-top: 50px">
    {% for album in albums %}
        <div class="card" style="width: 18rem; margin-left: 90px">
            {% if album.photo is not null  %}
                <img class="card-img-top" src="{{asset('uploads/'~album.photo)}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{album.nom}}</h5>
                <p class="card-text">{{album.date|date('d-m-Y')}}</p>
                <a href="{{ path('albumback_edit', {'id': album.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('albumback_delete', {'id': album.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}
