{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}


    <div class="container" style="padding-left: 400px">
        {% if album.photo is not null  %}
            <img src="{{asset('uploads/'~album.photo)}}">
        {% endif %}
    </div>


    <div class="text-center">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <h5>{{album.nom}}</h5>
                <p>Date de sortie : {{album.date|date('d-m-Y')}}</p>
            </li>
        </ul>
    </div>
      
    <div class="container">
        <p>{{album.description}}</p>
    </div>

        <h1>Commentaires</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{form (form_comment)}}

        {% endif %}

    {% for commentaire in commentaires %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            <p>Utilisateur : {{commentaire.utilisateur.pseudo}}</p>
            <p>Date : {{commentaire.date|date('d-m-Y H:i:s')}}</p>
            <p>{{commentaire.texte}}</p>
        </li>
    </ul>
    {% endfor %}


{% endblock %}